<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Games Catalogue{% endblock %}</title>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-Frame-Options" content="DENY">
    <meta http-equiv="Permissions-Policy" content="geolocation=(), camera=()">
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">
    <meta name="robots" content="noarchive">
    <meta name="robots" content="nosnippet">
    <meta name="robots" content="noimageindex">
    <meta http-equiv="Content-Security-Policy"
      content="default-src 'self';
               style-src 'self' https://cdn.jsdelivr.net;
               img-src 'self' https://placehold.co/;">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>
<body>
    <div class="container">
        <h1>Games Catalogue</h1>
        
        <nav class="nav">
            <a href="/gc/">View All Games</a>
            <a href="/gc/wishlist">View Wishlist</a>
        </nav>

        {% block content %}{% endblock %}
    </div>
</body>
</html>